In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
data_juegos = pd.read_csv('juegos-ml.csv')
X = data_juegos.drop(columns=['juegos'])
y = data_juegos['juegos']

modelo = DecisionTreeClassifier()
modelo.fit(X.values, y)
predicciones = modelo.predict([[11,1],])
predicciones

array(['plataforma'], dtype=object)

In [23]:
data2 = pd.read_csv('movies.csv', low_memory=False)
data_m = data2[['name', 'rating', 'genre', 'year', 'score']]
data_m

,name,rating,genre,year,score
0,The Shining,R,Drama,1980,8.4
1,The Blue Lagoon,R,Adventure,1980,5.8
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,8.7
3,Airplane!,PG,Comedy,1980,7.7
4,Caddyshack,R,Comedy,1980,7.3
...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,3.1
7664,Dream Round,NaN,Comedy,2020,4.7
7665,Saving Mbango,NaN,Drama,2020,5.7
7666,It's Just Us,NaN,Drama,2020,NaN
7667,Tee em el,NaN,Horror,2020,5.7